<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/MenuNavbar.css" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        @*<nav class="menu">
            <input type="checkbox" id="check"/>
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Little Candy Shop</label>
            <div class="search-element">
                <input id="txtSearch" type="text" style="height: 35px;" />
                <button style="background-color: white;"><img src="~/Content/img/magnifying-glass.png" /></button>
            </div>
            <ul id="nav-bar-menu-list">
                <li><a class="active" href="/Products">Products</a></li>
                <li><a class="active" href="#">Employees</a></li>
                <li><a class="active" href="#">Users</a></li>
            </ul>
        </nav>*@    

        <!-- MENU COM A SEARCH BOX AO MEIO -->
        <input type="checkbox" id="check"/> 
        <nav id="menu-navbar">
            <div class="logo">Little Candy Shop</div>
            <div class="search-box">
                <input type="search" placeholder="Search here"/>
                <span class="fa fa-search"></span>
            </div>

            <ol>
                <li><a href="#">Products</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Products</a></li>
            </ol>

            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>
            </label>
        </nav>
    </header>    

    <main role="main" class="flex-shrink-0">

        <!-- RENDER BODY SERVE PARA DIZER QUE NESSE TRECHO HAVERÁ CÓDIGO DE OUTRA PÁGINA -->
        @RenderBody()

    </main>




    @*<footer class="footer">
        <div class="container">
            <p class="footerMsg">Little Candy Shop &copy; All rights</p>
        </div>
    </footer>*@
</body>
</html>
